## SENG 207 PROJECT ONE
## ALHASSAN SHARIF DAWUNI
## ID- 10952248



### Importing python libraries

---

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
from ydata_profiling import ProfileReport

ModuleNotFoundError: No module named 'ydata_profiling'

### Importing the csv file 
---

In [ ]:
df = pd.read_csv("data.csv")

### CHANCING THE DATA TO UPPER CASE LETTERS
---

In [ ]:
df.rename(columns={'ID':'BEVERAGES'},inplace=True)

## Changing words to block letters

In [ ]:
df.columns =[words.upper() for words in df.columns]

### PLACING UNDER SCORES ON DOUBLE WORDED DATA
---

In [ ]:
df.columns=df.columns.str.replace(' ','_')

In [ ]:
df.head()

## Empty set Identification
---

In [ ]:
df.isnull()

 ## Identifying the data types for the dataset
---

In [ ]:
df.dtypes

## Sum of null entries
---

In [ ]:
df.isna().sum()

## checking duplicates
---

In [ ]:
df.loc[df.duplicated()]
df.duplicated().sum()

In [ ]:
df.info()

## Calculating the mean values of the empty cells in the dataset
---
## The mean is preferred because it gives concise values hence increasing its accuracy. 
---

In [ ]:


mean_FA=df['FIXED_ACIDITY'].mean()
mean_CA=df['CITRIC_ACID'].mean()
mean_CH=df['CHLORIDES'].mean()
mean_PH=df['PH'].mean()
mean_Q=df['QUALITY'].mean()
mean_D=df['DENSITY'].mean()
mean_TSD=df['TOTAL_SULFUR_DIOXIDE'].mean()
mean_FSD=df['FREE_SULFUR_DIOXIDE'].mean()

In [ ]:
print(f'FREE_SULFUR_DIOXIDE: {mean_FSD}')
print(f'TOTAL_SULFUR_DIOXIDE: {mean_TSD}')
print(f'DENSITY: {mean_D}')
print(f'QUALITY: {mean_Q}')
print(f'PH: {mean_PH}')
print(f'CHLORIDES: {mean_CH}')
print(f'CITRIC_ACID: {mean_CA}')
print(f'FIXED_ACIDITY: {mean_FA}')

### Filling in the null values with thier respective mean 
---

In [ ]:
df['FIXED_ACIDITY']=df['FIXED_ACIDITY'].fillna(mean_FA)
df['CITRIC_ACID']=df['CITRIC_ACID'].fillna(mean_CA)
df['CHLORIDES']=df['CHLORIDES'].fillna(mean_CH)
df['PH']=df['PH'].fillna(mean_PH)
df['QUALITY']=df['QUALITY'].fillna(mean_Q)
df['DENSITY']=df['DENSITY'].fillna(mean_D)
df['TOTAL_SULFUR_DIOXIDE']=df['TOTAL_SULFUR_DIOXIDE'].fillna(mean_TSD)
df['FREE_SULFUR_DIOXIDE']=df['FREE_SULFUR_DIOXIDE'].fillna(mean_FSD)

In [ ]:
df.info()

In [ ]:
df

### checking sum of null rows again.
---

In [ ]:
df.isna().sum()

### How to drop empty rows
---

In [ ]:
df_drop_empty=df.dropna()

 ### Looking for duplicates counts in a named column in descending order
 ---

In [ ]:
df['FIXED_ACIDITY'].value_counts()

## Statistical overview of the dataset
---
---
1. **Bar chats**
2. **Histogram**
3. **Profiile Report**

### BAR CHAT

---
#### This is a bar chat for the first 20 Beverages, showing how the PH varies among them.

In [ ]:
ax=df['PH'].value_counts()\
    .head(20).plot(kind='bar',title='PH VALUES OF THE BEVERAGES'
               )
ax.set_ylabel('PH VALUE')
ax.set_xlabel('BEVERAGES')


plt.show()

### HISTOGRAM PLOT

---

### Comparing Beverages with their Quality.

In [ ]:
ay=df['QUALITY'].plot(kind='hist',bins=20,title=' BEVERAGES VS QUALITY  ')

ay.set_xlabel('BEVERAGES ')
ay.set_ylabel('QUALITY')
plt.show()

### using seabon to show the correlation between the Beverages and their PH
---

In [ ]:
df_corr=df[['BEVERAGES','FIXED_ACIDITY', 'VOLATILE_ACIDITY', 'CITRIC_ACID', 'RESIDUAL_SUGAR',
       'CHLORIDES', 'FREE_SULFUR_DIOXIDE', 'TOTAL_SULFUR_DIOXIDE', 'DENSITY',
       'PH', 'SULPHATES', 'ALCOHOL', 'QUALITY']].dropna().corr()

In [ ]:
sns.heatmap(df_corr, annot=True)

### Describing the set of parameters
---

In [ ]:
df.describe()

In [2]:
profile = ProfileReport(df, title="Profiling Report")

NameError: name 'ProfileReport' is not defined

In [ ]:
profile.to_widgets()

In [ ]:
profile.to_notebook_iframe()